@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<div class="top">
  <span class="links">@Html.ActionLink("Home", "Index", "Home")</span>
  <span class="links">@Html.ActionLink("Back to list of stylists", "Index")</span>
</div>

<h3>Are you sure you want to delete this stylist?</h3>
<hr />
<h4 class="names">@Html.DisplayFor(model => model.FullName)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-secondary" />
} 
