@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist

<h3>Are you sure you want to delete this stylist?</h3>
<hr />
<h4>@Html.DisplayNameFor(model => model.FullName): @Html.DisplayFor(model => model.FullName)</h4>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" />
} 

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Back to list of stylists", "Index")</p>