@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model List<HairSalon.Models.Stylist>;

<h3>List of stylists:</h3>

@if (@Model.Count == 0)
{
  <p>No stylists have been added yet.</p>
} 

@foreach (Stylist stylist in Model)
{
  <p>@Html.ActionLink($"{stylist.FullName}", "Details", new { id = stylist.StylistId })</p>
}

<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Add new stylist", "Create")</p>